/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/TamagotchiGame/target/
/laskarit/viikko2/t/nbproject/private/
/TamagotchiGame/nbproject/
/laskarit/viikko2/t/build/
/tamagotchigame/scr/main/resources
/tamagotchigame/tamagotchitietokanta.mv.db
/tamagotchigame/tamagotchitietokanta.trace.db
